.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.menu, .quiz, .score{
  width:500px;
  height: 500px;
  background-color: lightblue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu button, .quiz button, .score button{
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
button:active{
  background: orange;
  color: #fff;
}

.navigation {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.navigation button {
    padding: 10px 20px;
    cursor: pointer;
}

.navigation button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.choices button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    cursor: pointer;
}

/* คำตอบที่ผู้ใช้เลือกไว้ */
.choices button.selected {
    border: 3px solid blue;
    background-color: lightblue;
}